#top-btn,
#down-btn {
  margin: 0;
  padding: 0;
}
.top-btn {
  background: rgb(69, 69, 69);
  border-radius: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
  transform: scale(0.9);
  opacity: 80%;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out transform;
}
.top-btn:hover {
  transform: scale(1);
}
.top-btn.active {
  display: block;
}

/* favorite button */
.love-btn {
  bottom: 20px;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;

  color: red;
  background: white;
  border: 2px solid #ccc; /* outline abu-abu */
  border-radius: 20px;

  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer;
  
  height: 48px;
  width: 48px;

  position: absolute;
  bottom: 25px;

  transition: transform 0.2s ease, border-color 0.2s ease;
}

.love-btn:hover {
  border-color: #999; /* outline abu-abu lebih gelap pas hover */
}

.love-btn.animate {
  transform: scale(1.2);
}

.btn-left, 
.btn-right{
  color: black;
  border: 2px solid var(--button-outline);
  border-radius: 20px;
  font-size: 18px;
  padding: 8px 16px;
  background: white;
  cursor: pointer;
}

/* Button (for Culture Page) */
.btn-left, 
.btn-right {
  position: absolute;
  bottom: 25px;
}

.btn-right {
  left: 59vw;
}
.btn-left {
  left: 9.7vw;
}

.btn-right, .btn-left{
  color: var();
}

.btn-right:hover, .btn-left:hover{
  transform: scale(1.05);
  color: var(--hover-white-btn);
}
