@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --font-main: "Plus Jakarta Sans", sans-serif;

  /* Color */
  --primary-color: #ff5e3a;
  --section-color: #faf7f7;
  /* var(--section-color) */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  /* font-family: "Poppins", sans-serif; */
  background: #fff;
  color: #222;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--font-main);
  font-weight: 700; /* tebal */
}

p,
a,
li,
button {
  font-family: var(--font-main);
  font-weight: 400; /* normal */
}
