#categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 8rem;
  background-color: var(--section-color);
}

#categories .card {
  width: 586px;
  height: 528px;
  min-height: auto;
}

#categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 8rem;
  background-color: var(--section-color);
}

#categories .card {
  width: 586px;
  height: 528px;
  min-height: auto;
}
